
    <!-- Content Header (Page header) -->

<div style="padding: 10px;">
<section class="content">
    <div class="container-fluid">
        <div class="row">


<div class="row mb-2">
<div class="col-md-6">           
<table>
 <!--Grafico 1-->
 <div class="card card-danger">
    <div class="card-header">
    <h3 class="card-title">Empleado/Puestos</h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
        </button>
    </div>
    </div>
    <div class="card-body">
        <tr>
            <td>
                <ngx-charts-bar-vertical [results]="productSales" [view]="view" [scheme]="colorScheme"  [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                    [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                </ngx-charts-bar-vertical>
            </td>
        </tr>
    </div>
 </div>

  
</table>

</div>
<div class="col-md-6">

<table>
 <!--Grafico 1-->
 <div class="card card-danger">
    <div class="card-header">
    <h3 class="card-title">Empleado/Puestos</h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
        </button>
    </div>
    </div>
    <div class="card-body">
            <tr>
                <td>
                    <ngx-charts-bar-vertical-normalized [results]="productSalesMulti" [view]="view" [scheme]="colorScheme"  [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitleMulti" [animations]="animations" [showGridLines]="showGridLines" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled">
                    </ngx-charts-bar-vertical-normalized>
                </td>
            </tr>
    </div>
 </div>
  
 
</table>
</div>
</div>

<table>


    <!--Grafico 1-->
<div class="row mb-2">
 <div class="col-md-6">       
     <div class="card card-danger">
        <div class="card-header">
        <h3 class="card-title">Empleado/Puestos</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
            </button>
        </div>
        </div>
        <div class="card-body">

            <tr>
                <td>
                    <ngx-charts-bar-vertical-2d [results]="productSalesMulti" [view]="view" [scheme]="colorScheme"  [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitleMulti" [animations]="animations" [showGridLines]="showGridLines" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"></ngx-charts-bar-vertical-2d>
                </td>
            </tr>

        </div>
     </div>
    </div>

  
<div class="col-md-6">       
        <div class="card card-danger">
            <div class="card-header">
            <h3 class="card-title">Empleado/Puestos</h3>
    
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            </div>
            <div class="card-body">
  <tr>
      <td>
          <ngx-charts-bar-horizontal-2d [results]="productSalesMulti" [view]="view" [scheme]="colorScheme"  [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="yAxisLabel" [yAxisLabel]="xAxisLabel" [legendTitle]="legendTitleMulti" [animations]="animations" [showGridLines]="showGridLines" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"></ngx-charts-bar-horizontal-2d>
      </td>
  </tr>
            </div>
        </div>
    </div>
 </div>
</table>

</div>
</div>
</section>
</div>